body {
  color: #ddd;
  font-family: "Open Sans", Segoe,"Segoe UI", "Lucida Sans Unicode","Lucida Grande", "Avenir","Seravek","Ubuntu", "DejaVu Sans","Trebuchet MS",Verdana,Arial,sans-serif;
  font-weight: normal;
}

div.container {
  min-width: 350px;
  max-width: 960px;
}

a {
  color: #579;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 300;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  /*font-size: 2em;*/
}

h1 {
  font-size: 150%;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 125%;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h3 {
  font-size: 100%;
}

div.img, div.text {
  padding: 0px 20px ;
  display:inline-block;
  vertical-align:middle;
}

img[alt=photo] { 
    max-width: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #999;
    border-radius: 3px;
}

.nav {
  white-space: nowrap;
}

.header > .row {
  padding-left: 20px;
  padding-right: 20px;
}

.nav, .title {
   font-weight: 500;
   /* text-transform: uppercase; */
   /* letter-spacing: 3px; */
   font-size: 150%;
}

.title, .subtitle {
  color: #000;
  padding-top: 8px;
  padding-bottom: 8px;
}


.header {
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e1de;
}

.header .col-md-6 {
  padding-left: 0px;
}

.nav > li > a {
  /*border-radius: 3px 3px 0px 0px;*/
  border-radius: 3px;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  padding: 8px;
}

ul {
  padding-inline-start: 0px;
}

.tag > span {
  padding-right: 8px;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus 
{
  color: #e00000;
}

.nav-pills > li.active > a
{
  background-color: white;
}

.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus 
{
  background-color: #EEEEEE;
}

.nav-pills > li + li {
  margin-left: 5px;
}

.content {
  background-color: #fff;
  color: #345;
  border-radius: 3px;
  padding: 2em 1em;
  /*box-shadow: 5px 5px 5px #012;*/
}

.footer {
  padding-top: 10px;
  padding-left: 10px;
  color: #999;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer a {
  color: #9bd;  
}

div.counter, div.copyright {
  display: inline-block;
}

div.counter {
  width: 120px;
  max-height: 75px;
  margin-left: auto;
  margin-right: 50px;
}

.nav-pills > li + li {
  margin-left: 5px;
}

ol.bibliography {
  padding-left: 0.5em;
  max-width: 60em;
  list-style: none;
}

ol.bibliography > li {
  padding: 0;
  padding-bottom: 20px;
}

ol.bibliography .nav > li > a {
  padding-left: 0;
}

ol.bibliography .nav-pills > li > a,
ol.bibliography .nav-pills > li > a:hover {
  font-size: 90%;
  text-transform: uppercase;
  color: #888;
  background-color: transparent;
}

ol.bibliography .nav-pills > li > a:hover {
  color: #235;
}

div.pub-image {
  /* margin-top: 12px; */
  height: 100%; }

.pub-image > img {
  max-width: 200px;
  max-height: 200px; 
}
